 @keyframes expanding-border {
     0% {
         width: 0%;
         border-bottom: 2px solid transparent;
     }

     100% {
         width: 100%;
         border-bottom: 2px solid $color-secondary;
     }
 }

 @keyframes return-from-translateY {
     20% {
         opacity: 0;
         color: rgba(156, 19, 20, .85);
     }

     100% {
         transform: translateY(0);
         opacity: 1;
         color: whitesmoke;
     }
 }

 @keyframes bounce {
     from {
         transform: translate3d(0, 0, 0);
     }

     to {
         transform: translate3d(0, 200px, 0);
     }
 }