*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  color: inherit;
}



img.alignright {float:right; margin:1em 0 1em 1em}
img.alignleft {float:left; margin:1em 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
.alignright {float:right; }
.alignleft {float:left; }
.aligncenter {display: block; margin-left: auto; margin-right: auto}

.hidden {
  display: none;
}

#my_email_ajax_nonce {
  display: none;
}


p > img{
  @include respond(phone){
    display: block !important;
    width: 100%;
    height: 20%;
    margin: auto !important;
    margin-bottom: 1rem !important;
  }
}
li {
  @include respond(phone){
    text-align: center;
  }
}

// @media print {

//   .form-page__form{
//     width: 100% !important;
//     border: 0 !important;
//   }

//   .nav ,
//   .footer,
//   #print-btn {
//     display: none !important;
//   }

//   .form-page__label-input * {
//     width: 100% !important;
//   }
//   .form-page__paragraph{
//     width: 95% !important;
//   }
//   .form-page__medical-reason-input{
//     width: 100% !important;
//   }

//   #headerImg {
//     height: 15vh;
//   }

//   .page-break {
//     margin-top: 30rem !important;
//   }
//   .page-break-2{
//     margin-top: 5rem !important;
//   }
// }

html {
  background: whitesmoke;
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}

body {
  font-family: "PT Sans", sans-serif;
  box-sizing: border-box;
  color: #515151;
}

::-webkit-scrollbar {
  display: none;
}

.page {

  &__modal-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .85);
    z-index: 999;
  }

  &__modal {
    max-width: 75ch;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
  }

  &__modal-exit {
    position: absolute;
    top: 5%;
    right: 5%;
    border: 0;
    outline: none;
    color: $color-secondary;
    width: 5rem;
    height: 5rem;
    transition: all .25s;
    cursor: pointer;

    &:hover {
      color: whitesmoke;
    }
  }

  &__bg {
    padding-top: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;

    &--no-padding {
      padding: 0;
    }

    @include respond(tab-port) {
      padding: 0;
      height: fit-content;
    }

    &--right {
      background-position: right;
    }
  }

  &__thumbnail-container {
    text-align: center;
  }

  &__title-date-container {
    margin: 2.5rem auto;
  }

  &__content {
    max-width: 85ch;
    font-size: 2.25rem;
    background: whitesmoke;
    margin: auto;
    margin-bottom: 2rem;
    padding: 1rem 3rem;
    line-height: 135%;

    @include respond(tab-port) {
      padding: 1rem;
      max-width: 100%;
      margin: 0;
    }

    @include respond(phone) {
      padding: .5rem;
    }

    &--wrapped {
      width: fit-content;
      padding: 0;
      margin-bottom: 2rem;
      max-width: initial;
    }

    & * ul {
      margin: auto auto 2rem auto;
      max-width: 60ch;
    }

    & * p {
      margin-bottom: 2rem;
    }
  }

  &__h1,
  &__h2,
  &__h3,
  &__h4 {
    @include respond(tab-port) {
      line-height: initial;
      margin: .5rem auto !important;
      padding: 0 !important;
    }
  }

  &__h1 {
    text-align: center;
    font-size: 6rem;
    color: $color-tertiary;
    margin: 2rem;
  }

  &__h2 {
    text-align: center;
    font-size: 5rem;
    color: $color-primary;
    margin: 1.25rem;

    &--white {
      color: whitesmoke;
    }
  }

  &__h3 {
    text-align: center;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: 3px solid $color-primary;
    width: fit-content;
    margin: 1rem auto;

    &--top-margin {
      margin-top: 5rem;
    }
  }

  &__h4 {
    text-align: center;
    font-size: 3rem;
    margin: 0.75rem;
  }

  &__paragraph {
    margin-bottom: 2rem;
  }

  &__pagination-container {
    text-align: center;
  }
}

.border-top {
  border-top: 3px solid $color-secondary;
}

.footer--bottom {
  position: absolute;
  top: 90%;
  width: 100%;
}

.note-h4 {
  margin-top: 3rem;
}