.about-bg {
    background-image: linear-gradient(rgba(156, 19, 20, .9), rgba(156, 19, 20, .9)),
        url('http://image.pennlive.com/home/adv-hssn-media/width620/img/PennLive.com/news/22fcaa37e4015e2cecf188840931b02e/_NS15470.jpg'), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.about-page {
    font-size: 2.5rem;
    max-width: 75ch;
    margin: auto;
    background: whitesmoke;
    padding: 1rem 3rem;
}

.principles-section {
    margin: 3rem auto;

    &__list {
        text-align: center;
        list-style: none;
    }

}

.philosophy-section {

    &__group {
        margin-bottom: 3rem;

        &>p {
            margin-bottom: 1rem;
        }
    }

}