.nav {
    display: flex;  
    background: $color-primary;
    justify-content: center;
    padding: 2rem 0; 
    color: whitesmoke;
    border-bottom: 3px solid $color-secondary;
    
    &__li {
        font-weight: bold;
        list-style: none;
        display: inline-block;
        font-size: 2.5rem;
        margin: 0 .5rem;
        border-bottom: 3px solid transparent;

        &:hover {
            border-bottom: 3px solid whitesmoke;
        }
    }
}