.nav {
    display: flex;  
    background: $color-tertiary;
    justify-content: center;
    padding: 2rem 0; 
    color: whitesmoke;
    border-bottom: 2px solid $color-secondary;
    
    &__li {
        font-weight: bold;
        list-style: none;
        display: inline-block;
        font-size: 2.5rem;
        margin: 0 .5rem;
        border-bottom: 3px solid transparent;

        &:hover {
            border-bottom: 3px solid $color-secondary;
        }
        & > a{
            text-decoration: none;
        }

        & > a:visited{
            color: whitesmoke;
        }

        @include respond(tab-land){
            font-size: 3rem;
        }

        @include respond(phone){
            font-size: 2rem;
            margin: 0 .25rem;
        }
        @include respond(small-phone) {
            font-size: 1.89rem;
            margin: 0 .25rem;
        }
    }
}